body{
    background-image: url(download.jpeg);
}
iframe{
    margin-left: 6cm;
    width: 20cm;
    height: 10cm;
}
p{
    text-align: center;
    font-size: xx-large;
    color: blue;
}
nav{
    padding-left: 1cm;
    
}
a{
    padding-left: 10px;
    text-decoration: none;
    color: blue;
    
}
.linkk{
    padding-left: 10px;
    font-size: x-large;
    margin-left: 4cm;
}
footer {
    font-size: larger;
    background-color: rgb(198, 202, 243);
    margin-top: 10px;
}
footer div{
    text-align: center;
}